@import url(common.css);

/* レストラン写真 */
p.image {
  margin-top: 36px;
}

/* -----メイン----- */
main {
  padding-top: 67px;
}

main section.lounge {
  padding-bottom: 53px;
  margin-bottom: 67px;
  border-bottom: 3px solid #000000;
}

main section.lounge ul {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  margin-bottom: 67px;
}

/* h2 共通の設定 */
main h2 {
  font-size: 28px;
  padding-top: 17px;
  padding-bottom: 17px;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  border-top: 2px solid #868686;
  border-bottom: 2px solid #868686;
  font-family: "Kaisei Tokumin", serif;
}

main section.lounge p {
  font-size: 20px;
  color: #1d1502;
  text-align: left;
  line-height: 35px;
}

main section.event {
  padding-bottom: 53px;
  margin-bottom: 67px;
  border-bottom: 3px solid #000000;
}

main section.event li {
  margin-top: 50px;
}

/* スマホ */
@media (max-width: 767px) {
  p.image img {
    height: 300px;
    object-fit: cover;
    object-position: right;
  }
}
